/*
 * spa.shell.css
 * Shell styles
 */

.spa-shell-header {
   display : flex;

   justify-content : space-between;

   height : clamp(50px, 10%, 100px);

   background-color : #aaa
}

.spa-shell-main {
   display   : flex;
   flex-grow : 1;
}

.spa-shell-main-nav {
   width : clamp(100px, 20%, 250px);
   
   background-color : #ccc;
}

.spa-shell-main-content {
   flex-grow : 1;

   background-color : #fff;
}

.spa-shell-footer {
   height : clamp(50px, 10%, 100px);

   background-color : #aaa;
}